<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../../public/css/style.css"> <!-- css link -->
    <title>Tech-Schmech Blog</title>
</head>
<body>
    <div>
        <header>Tech-Schmech Blog</header>
            <nav>
                <a href="/">Homepage</a>
                <a href="/dashboard">Dashboard</a>
                {{#if logged_in}}
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
    </div>
    <main>
        {{{ body }}}
    </main>
    
     <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>